* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul,
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 90px;
    margin-left: 370px;
    
  }
  
  .gallery__image {
    width: 250px;
    height: auto;
  }
  
  .lightbox__overlay {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
    z-index: 999;
    pointer-events: all;
  }
  
  .lightbox__image {
    width: 60%;
    height: auto;
  }
  
  body.show-modal .lightbox__overlay {
    visibility: visible;
    opacity: 1;
  }
  .closeBtn {
    background-color: black;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-style: bold;
    font-size: 35px;
    padding: 10px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
  }